@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

html, body{
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

.card-picture-container{
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
}

.side-add{
    width: 300px;
    height: 600px;
    background-color: white;
}

.inputgroup-container{
    max-width: 500px;
}

.row-inputgroup{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.field-label-container{
    max-width: 120px;
    min-width: 120px;
    text-align: right;
}

.field-label-container label{
    padding-right: 1rem;
    color: rgb(160,174,192);
    font-weight: 700;
    font-size: 14px;
}

.input-field{
    background-color: rgb(45,48,55);
    border: 1px solid rgba(147,157,172,.4);
    border-radius: 4px;
    padding: 9px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255,255,255,.9);
}

.input-field:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,.9);
    box-shadow: 0 0 3px 3px rgba(216, 216, 216, 0.4);
}

.input-field option{
    background-color: white;
    color: black;
}

.name-input{
    width: 100%;
    max-width: 350px;
}

.select-style:hover{
    cursor: pointer;
}

.card-type-select{
    max-width: 156px;
    margin-right: 16px;
}

.attribute-select{
    max-width: 110px;
}

.rarity-select{
    max-width: 99px;
}

.right-input-style{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-input-style label{
    color: rgb(160,174,192);
    font-size: 14px;
    font-weight: 700;
}

.checkbox-style{
    width: 1.25rem;
    height: 1.25rem;
}

.pendulum-label{
    margin-left: 8px;
}

.right-input-label{
    margin-right: 1rem;
    margin-left: 16px;
}

.upload-file{
    padding: 0.5rem 1rem;
    width: 100%;
}

.monster-type-creator{
    width: 157px;
}

.effect-input{
    width: 100%;
}

.atk-def-year{
    max-width: 60px;
}

.set-input{
    max-width: 76px;
}

.set-serial{
    max-width: 96px;
}

.edition-input{
    width: 100%;
}